<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Oliver Baptiste</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/cyf8srx.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      {% include 'header.njk' %}
    </header>
    <section id="hello-world">
      {% include 'hello-world.njk' %}
    </section>
    <section id="lets-talk">
    {% include 'lets-talk.njk' %} 
    </section>
    <footer>
      <section class="social-links">
        {% include 'social-links.njk' %}
      </section>
      {% include 'colophon.njk' %}
    </footer>
  </body>
</html>