:root {
  /* Solarized colors */
  --base03: #002b36;
  --base3: #fdf6e3;
  --cyan: #2aa198;
  --magenta: #d33682;


  /* Custom colors */
  --yellow-green: #b8e986;
  --sky-blue: #94d2ff;
}

body {
  background: var(--base03);
  color: var(--base3);
  font: normal 400 100%/1.5 monospace;
  margin: 0 auto;
  padding: 1em;
  max-width: 100ch;
}

a:link,
a:visited {
  color: var(--cyan);
  font-weight: 700;
}

article {
  /* margin: 1em 2em 4em; */
  margin-bottom: 4em;
}

section {
  margin: 2em 0;
}

#banner {
  font-family: "omnes-pro";
  font-weight: 700;
  margin: 0 auto 1em;
}

#banner .hed {
  color: var(--cyan);
  margin: 0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#banner .dek {
  margin: 0;
  color: var(--yellow-green);
}

#content h2 {
  color: var(--magenta);
}

#end-of-content {
  border: 1px solid var(--cyan);
}

#site-info {
  font-family: "franklin-gothic-urw-comp";
  text-align: right;
}

#social-links ul {
  list-style: none;
}

#social-links li {
  text-transform: uppercase;
}

#social-links a:link,
#social-links a:visited {
  color: var(--yellow-green);
}

#copyright {
  text-transform: uppercase;
  text-align: center;
}
