body {
    background: #002b36;
    color: #fff;
    font: normal 400 100%/1.4 "omnes-pro", sans-serif;
    margin: 0 auto;
    padding: 1em 8%;
    max-width: 50ch;
}

a:link {
    color: #b8e986;
    font-weight: 700;
}

article {
    margin-bottom: 4em;
}

#banner .hed {
    color: #2aa198;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0.25em;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

#banner .dek {
    color: #b8e986;
    font-weight: 700;
}

#banner .dek small {
    font-weight: 400;
}

#content strong {
    color: #94d2ff;
}

#end-of-content {
    border: 1px solid #2aa198;
}

#site-info {
    font-family: "franklin-gothic-urw-comp", sans-serif;
    text-align: right;
    margin-bottom: 3.6rem;
}

#social-links ul {
    list-style: none;
}

#social-links li {
    line-height: 1.3;
    text-transform: uppercase;
}

#social-links a:link {
    color: #b8e986;
}

#copyright {
    text-transform: uppercase;
}
