<p class="colophon">
  Designed in <a href="https://sketchapp.com/">Sketch</a> using <a
    href="https://typekit.com/fonts/omnes">Omnes</a>
  and <a href="https://typekit.com/fonts/franklin-gothic-urw">Franklin Gothic URW Compressed</a> typefaces from <a href="https://typekit.com/">Adobe Fonts</a>.
  Inspired by the <a href="http://ethanschoonover.com/solarized">Solarized</a> color palette.</p>
<p class="colophon">
  This site is developed with <a href="https://11ty.dev">Eleventy</a>, and continuously deployed from
  <a href="https://github.com/oliverbaptiste/oliverbaptiste.com">Github</a> to
  <a href="https://www.netlify.com/">Netlify</a>.
  SSL/TLS by <a href="https://letsencrypt.org/">Let’s Encrypt</a>.
</p>