<h1>Hello, World!</h1>
<p>
  <span class="placeholder-link">I am a designer, developer, &amp; musician</span><br>
  living in the New York metropolitan area.
</p>
<p><span class="placeholder-link">I currently work at Medscape</span><br>
  — a division of WebMD — as a Digital Production Coordinator.
</p>
<p><span class="placeholder-link">The Rule of Three</span><br>demands I write something else here.</p>
