:root {
  /* Solarized colors */
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;

  /* Custom colors */
  --yellow-green: #b8e986;
  --sky-blue: #94d2ff;
}

body {
  background: var(--base03);
  color: var(--base3);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: inherit;
  margin: 1em;
}

hr {
  display: none;
}

u {
  text-transform: uppercase;
}

#site-banner {
  font-family: 'omnes-pro', sans-serif;
  font-weight: 700;
}

#site-banner .hed {
  color: var(--cyan);
  font-size: xx-large;
  margin: 0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#site-banner .hed a {
  color: inherit;
  text-decoration: none;
}

#site-banner .hed a:hover {
  text-decoration: underline;
}

#site-banner .dek {
  color: var(--yellow-green);
  font-size: medium;
  margin-top: 0;
}

#content {
  background-color: var(--base3);
  border-radius: 0.5rem;
  color: var(--base03);
  padding: 1rem 1rem 2rem;
}

#content article header h1 {
  padding-bottom: 4px;
  border-bottom: 2px solid var(--base03);
}

#reflist li {
  font-size: small;
}

#back2top {
  text-align: right;
}

#site-info {
  text-align: right;
}

#netizenships {
  text-transform: uppercase;
}

#netizenships ul {
  list-style: none;
}

#netizenships ul li {
  font-family: franklin-gothic-urw-comp, sans-serif;
  font-weight: heavy;
  line-height: 1.5;
  font-size: larger;
}

#netizenships ul li a:link,
#netizenships ul li a:visited {
  color: var(--yellow-green);
}

#site-copyright small {
  text-transform: uppercase;
}
